#java:
*.class
*.log


#narglc:
*.nar
*.shtml

#idea.pycharm.Eclipse
*.xml
*.iml
.name
run.sh


#C++
*.out
*.o

#XCode project file
#/DataStruct/DataStruct.xcodeproj
*.pbxproj
*.xcuserstate
*.xcbkptlist

#git self
.gitignore

#code::blocks
/Code::Blocks/ProjectStart/bin
